*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #f0f0f0;
  margin-bottom: 10px;
}

.logo {
  text-align: center;
}

button {
  background: none;
  padding: 0 10px;
  border: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: auto;
  }
}

.restore {
  color: green;
}

.delete {
  color: red;
}

.trash {
  color: blue;
}

.nav-bar {
  margin-bottom: 20px;
  text-align: center;

  &__add {
    width: 150px;
    height: 40px;
    margin: 0 5px;
    background: green;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;

    &.is-loading {
      background: #fff url('../img/loader.gif') center no-repeat;
      background-size: 40px;
      text-indent: -9999px;
    }
  }
}
